<!-- templates/modal_cadastro_livro.html -->
<div id="modalCadastroLivro" class="modal">
    <div class="modal-content">
        <span class="close" onclick="closeModalCadastroLivro()">&times;</span>
        <h2>Cadastrar Novo Livro</h2>
        <!-- Formulário de cadastro de livro -->
        <!-- Formulário de cadastro de livro -->
        <form id="cadastroLivroForm">
            {% csrf_token %}
            <label for="nomeLivro">Nome:</label><br>
            <input type="text" id="nomeLivro" name="name" required><br>  <!-- Renomeie o name para corresponder ao campo do modelo -->
            <input type="hidden" id="bibliotecaId" name="library" required>  <!-- Renomeie o name e adicione o atributo required -->
            <button type="submit">Cadastrar</button>
        </form>
    </div>
</div>

<script>
    // Função para abrir o modal de cadastro de livro
    function openModalCadastroLivro(bibliotecaId) {
        document.getElementById("bibliotecaId").value = bibliotecaId;
        document.getElementById("modalCadastroLivro").classList.add("show");
    }

    // Função para fechar o modal de cadastro de livro
    function closeModalCadastroLivro() {
        document.getElementById("modalCadastroLivro").classList.remove("show");
    }

    // Atualiza a página após o formulário ser enviado com sucesso
    document.getElementById("cadastroLivroForm").addEventListener("submit", function(event) {
        event.preventDefault(); // Impede o envio do formulário padrão

        var id = document.getElementById("bibliotecaId").value;
        var nomeLivro = document.getElementById("nomeLivro").value; // Obtenha o valor do campo de entrada de nome do livro

        // Verifique se o nome do livro não está vazio antes de enviar o formulário
        if (nomeLivro.trim() === "") {
            alert("Por favor, insira um nome para o livro.");
            return;
        }

        // Envia o formulário via AJAX para a API de cadastro
        fetch("{% url 'api:book-list' 0 %}".replace('0', id), {
            method: 'POST',
            body: JSON.stringify({ name: nomeLivro, library: id }),  // Adicione o campo 'library' com o valor de 'id'
            headers: {
                'Content-Type': 'application/json',
                'X-CSRFToken': '{{ csrf_token }}' // Adiciona o token CSRF ao cabeçalho da requisição
            }
        })
        .then(response => {
            if (response.ok) {
                closeModalCadastroLivro(); // Fecha o modal
                location.reload(); // Recarrega a página
            } else {
                // Trate erros de resposta da API, se necessário
                console.error('Erro ao cadastrar livro:', response.statusText);
            }
        })
        .catch(error => {
            console.error('Erro ao cadastrar livro:', error);
        });
    });

</script>
