/* static/css/modal_styles.css */
/* Estilos do modal */

.modal {
    display: none;
    position: fixed;
    z-index: 9999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
    opacity: 0; /* Inicialmente invisível */
    transition: opacity 0.3s ease; /* Transição suave */
}

.modal.show {
    display: block;
    opacity: 1; /* Torna o modal visível */
    z-index: 9999;
}

.modal-content {
    background-color: #f4f4f4; /* Cor de fundo mais suave */
    margin: 10% auto; /* Centraliza verticalmente e horizontalmente */
    padding: 20px;
    border-radius: 15px; /* Bordas arredondadas mais suaves */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); /* Sombra */
    max-width: fit-content; /* Ajusta a largura para se adaptar ao conteúdo */
    text-align: center; /* Centraliza o conteúdo horizontalmente */
    transform: scale(0.7); /* Inicialmente, o modal está em escala menor */
    transition: transform 0.3s ease; /* Transição suave */
}

.modal.show .modal-content {
    transform: scale(1); /* Escala completa quando o modal é exibido */
}

.form-group {
    margin-bottom: 20px; /* Adiciona espaçamento vertical entre os elementos */
}

.btn-cadastrar {
    margin-top: 10px; /* Adiciona margem superior ao botão */
}

.close {
    color: #777; /* Cor do botão de fechar mais suave */
    float: right;
    font-size: 24px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #333; /* Cor mais escura quando passa o mouse */
    text-decoration: none;
    cursor: pointer;
}

.left-align {
    text-align: left;
    margin-left: 0;
}
